{% extends "_base.twig" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>投稿編集</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted on 2019-99-99
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<form method="POST" action="{{ postEditPage.formAction }}">
    {{ postEditPage.csrfViewModel.present | raw }}
    <div class="container">
        {% if postEditPage.hasError %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ postEditPage.errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">タイトル</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="タイトル" name="{{ postEditPage.titleFormName }}" value="{{ postEditPage.preservedTitle }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">中身</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputTitle" placeholder="マークダウン" rows="5" name="{{ postEditPage.contentFormName }}">{{ postEditPage.preservedContent }}</textarea>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>

<hr>

{% endblock %}
